@CHARSET "UTF-8";

/* disable-input-select-element.css */

.text-item {
  width: 800px;
  height: 24px;
}

.select-item {
  width: 400px;
  height: 50px;
}

.target-item {
  width: 100px;
  height: 24px;
}
